@model IEnumerable<Bewander.ViewModels.RelationshipViewModel>

<li id="friend-icon" rel="toggle" role="button" class="navbar-item-container navbar-icon-container dropdown"> @*Friend list icon is controlled using bootstrap.js dropdown- Corey D*@
    <a class="dropdown-toggle nav-dropdown-toggle" role="button"> @*The friend list icon is always on the nav bar- Corey D*@
        <i class="fa fa-group navbar-icon"></i>
    </a>
    <ul id="navbar-friend-list" class="dropdown-menu nav-list nav-dropdown-list">
        <li>
            <h5 class="nav-dropdown-header">(@Model.Count()) Wanderers</h5><!--JR7-->
        </li>
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <li class="friend-request-item" relID="@item.RelationshipID">
                    <img src="../Images/@item.ProfilePicture" />
                    <a onclick="ViewProfile('@item.UserID')" class="wanderer-name">@item.FirstName @item.LastName</a>
                    <div class="friend-btn-container">
                        <a class="friend-request-btn" onclick="SelectUser('@item.RelationshipID','@item.UserID')">Chat</a>
                        <a class="friend-request-btn" onclick="ViewProfile('@item.UserID')">Profile</a>
                    </div>
                </li>
            }
        }
        else
        {
            <li><div class="no-nav-dropdown-items">Currently you have not connected with any wanderers, let's add some.</div></li>
        }
        <li>
            <h5 class="nav-dropdown-header">Search for fellow Wanderers</h5>
        </li>
        <li>
            <div style="position:inherit; z-index:999; align-content:center; padding-top:3px; padding-bottom: 5px;" id="friendSearch-Bar1">
                <div class="btn-group"  style="width:100%;">
                    <input type="text" autocomplete="off" class="form-control" id="friend-Search-FriendList" placeholder="Search Wanderers" onkeyup="friendSearch(this)">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:none;"></button>
                    <ul id="friendSearch-results-FriendList" class="dropdown-menu" style="min-width:100%;"></ul>
                </div>
            </div>
        </li>            
            <!-- Adds the "Suggested Friends" partial view to the wanders icon dropdown in the navbar. -->
        <li>
            <div id="suggested-wanderers-container" class="container-fluid" style="width:100%">
                <div class="row" style="text-align:center; align-content:inherit; align-items:center;">
                    <h5 class="nav-dropdown-header">Suggested Wanderers</h5>

					<div style="width:100%">
						<div style="margin-left:2%; margin-right:2%;">

							@* Situate images and apply hover effect *@
							@foreach (var item in Model)
							{

								<div id="sugg-root" style="width:75%; margin-bottom:10px" class="col-lg-4 col-md-4 col-sm-6 col-xs-friends">
									<div id="hoverdiv" class="hovereffect " data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="@item.SuggestionReason">
										<img id="SuggestedWanderersImg-dropdown" class="img-thumbnail img-responsive img-circle" style="margin:auto; display:block; background-size:cover;
                        background-position: 50% 50%; max-height:5em; max-width:5em; min-height:5em; min-width:5em" ; src="../Images/@item.ProfilePicture" alt="Profile Image" />

										<br />
										<div class="name-label">
											@item.FirstName
										</div>

										<!--Name gets cut off in image cirle when displayed with this code-->
										@*<span id="suggested-wanderer-name-label">
											@item.FirstName @*use the firstname to link to the wander profile*@
										@*</span>*@

										@* Link to user profile w/ tooltip explaining suggestion*@
										<div id="friend-suggestion" class="overlay">
											<div onclick="ViewProfile('@item.UserID')">

												<h3><a>@item.FirstName</a></h3>
												@* Get user location *@
												<!-- Plus circle and hometown are cutoff when displayed...
													<a href=""><i class="fa fa-plus-circle fa-2x" aria-hidden="true" style="z-index:10"></i></a>

													<p>
													@item.HomeTown
												</p>
													-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
       </li>
    </ul>
</li>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>










